{% extends "base.html" %}

{% block title %}Find Events{% endblock %}

{% block content %}
<h2>Upcoming Events</h2>
<table>
    <tr>
        <th>Event Name</th>
        <th>Date</th>
        <th>Location</th>
        <th>Attendance</th>
    </tr>
    {% for event in events %}
    <tr>
        <td>{{ event['EventName'] }}</td>
        <td>{{ event['EventDate'] }}</td>
        <td>Room {{ event['RoomID'] }}</td>
        <td>{{ event['Attendance'] }}/{{ event['Attendance']|int + 20 }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}